aden-star-schema/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "aden-star-schema"
		},
		"AdenStarSchemaDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AdenStarSchemaDB'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=adenqualyfi.database.windows.net;Initial Catalog=AdenStarSchemaDB"
		},
		"adenAzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'adenAzureBlobStorage1'"
		},
		"adenGitHub1_credential": {
			"type": "secureString",
			"metadata": "Secure string for 'credential' of 'adenGitHub1'"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://adenstarschemakeyvault.vault.azure.net/"
		},
		"adenGitHub1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "Adenation"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Medallion-Basic')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "payments_ingestion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "1"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "2"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "3"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "4"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "payments",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "bronze_payments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "riders_ingestion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "1"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "2"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "3"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "4"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "5"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "6"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "7"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "riders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "bronze_riders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "stations_ingestion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "1"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "2"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "3"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "4"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "stations",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "bronze_stations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trips_ingestion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "1"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "2"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "3"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "4"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "5"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "6"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "7"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "trips",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "bronze_trips",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "silver_transformation",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "payments_ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "riders_ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "stations_ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "trips_ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "silver_transformation",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"stations": {},
									"payments": {},
									"riders": {},
									"trips": {},
									"sinkStations": {},
									"sinkPayments": {},
									"sinkRiders": {},
									"sinkTrips": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "golden_transformation",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "silver_transformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "golden_transformation",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"stations": {},
									"payments": {},
									"riders": {},
									"trips": {},
									"paymentsDimension": {},
									"stationsDimension": {},
									"ridersDimension": {},
									"rideableDimension": {},
									"tripDateDimension": {},
									"factTrip": {},
									"transactionFact": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/payments')]",
				"[concat(variables('factoryId'), '/datasets/bronze_payments')]",
				"[concat(variables('factoryId'), '/datasets/riders')]",
				"[concat(variables('factoryId'), '/datasets/bronze_riders')]",
				"[concat(variables('factoryId'), '/datasets/stations')]",
				"[concat(variables('factoryId'), '/datasets/bronze_stations')]",
				"[concat(variables('factoryId'), '/datasets/trips')]",
				"[concat(variables('factoryId'), '/datasets/bronze_trips')]",
				"[concat(variables('factoryId'), '/dataflows/silver_transformation')]",
				"[concat(variables('factoryId'), '/dataflows/golden_transformation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Queries')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RevenueBasedOnMembershipAndAge",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "RevenueBasedOnMembershipAndAge",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dimPayment": {},
									"factTransaction": {},
									"dimRider": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "RevenuePerMonth",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "RevenuePerMonth",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dimPayment": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "RevenuePerQuarter",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "RevenuePerQuarter",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dimPayment": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "RevenuePerYear",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "RevenuePerYear",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dimPayment": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "TimeSpentPerRideBasedOnArrivalStation",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TimeSpentPerRideBasedOnArrivalStation",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dimStation": {},
									"factTrip": {},
									"dimTripDate": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "TimeSpentPerRideBasedOnDayOfWeek",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TimeSpentPerRideBasedOnDayOfWeek",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dimTripDate": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "TimeSpentPerRideBasedOnDepartureStation",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TimeSpentPerRideBasedOnDepartureStation",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dimStation": {},
									"factTrip": {},
									"dimTripDate": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "TimeSpentPerRideBasedOnHour",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TimeSpentPerRideBasedOnHour",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dimTripDate": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "TimeSpentPerRideBasedOnJourney",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TimeSpentPerRideBasedOnJourney",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dimStation": {},
									"factTrip": {},
									"dimTripDate": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "TimeSpentRidingBasedOnAgeOfRider",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TimeSpentRidingBasedOnAgeOfRider",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dimTripDate": {},
									"factTrip": {},
									"dimRider": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "TimeSpentRidingBasedOnMemberStatus",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TimeSpentRidingBasedOnMemberStatus",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dimTripDate": {},
									"factTrip": {},
									"dimRider": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/RevenueBasedOnMembershipAndAge')]",
				"[concat(variables('factoryId'), '/dataflows/RevenuePerMonth')]",
				"[concat(variables('factoryId'), '/dataflows/RevenuePerQuarter')]",
				"[concat(variables('factoryId'), '/dataflows/RevenuePerYear')]",
				"[concat(variables('factoryId'), '/dataflows/TimeSpentPerRideBasedOnArrivalStation')]",
				"[concat(variables('factoryId'), '/dataflows/TimeSpentPerRideBasedOnDayOfWeek')]",
				"[concat(variables('factoryId'), '/dataflows/TimeSpentPerRideBasedOnDepartureStation')]",
				"[concat(variables('factoryId'), '/dataflows/TimeSpentPerRideBasedOnHour')]",
				"[concat(variables('factoryId'), '/dataflows/TimeSpentPerRideBasedOnJourney')]",
				"[concat(variables('factoryId'), '/dataflows/TimeSpentRidingBasedOnAgeOfRider')]",
				"[concat(variables('factoryId'), '/dataflows/TimeSpentRidingBasedOnMemberStatus')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "trips.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "csvs",
						"container": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "*.parquet",
						"folderPath": "tables",
						"container": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RevenueBasedOnMembershipAndAge')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdenStarSchemaDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "RevenueBasedOnMembershipAndAge"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AdenStarSchemaDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RevenuePerMonth')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdenStarSchemaDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "RevenuePerMonth"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AdenStarSchemaDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RevenuePerQuarter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdenStarSchemaDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "RevenuePerQuarter"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AdenStarSchemaDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RevenuePerYear')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdenStarSchemaDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "RevenuePerYear"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AdenStarSchemaDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentPerRideBasedOnArrivalStation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdenStarSchemaDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "TimeSpentPerRideBasedOnArrivalStation"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AdenStarSchemaDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentPerRideBasedOnDayOfWeek')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdenStarSchemaDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "TimeSpentPerRideBasedOnDayOfWeek"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AdenStarSchemaDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentPerRideBasedOnHour')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdenStarSchemaDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "TimeSpentPerRideBasedOnHour"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AdenStarSchemaDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentPerRideBasedOnJourney')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdenStarSchemaDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "TimeSpentPerRideBasedOnJourney"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AdenStarSchemaDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentRidingBasedOnAgeOfRider')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdenStarSchemaDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "TimeSpentRidingBasedOnAgeOfRider"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AdenStarSchemaDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentRidingBasedOnDepartureStation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdenStarSchemaDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "TimeSpentRidingBasedOnDepartureStation"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AdenStarSchemaDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentRidingBasedOnMemberStatus')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdenStarSchemaDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "TimeSpentRidingBasedOnMemberStatus"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AdenStarSchemaDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_payments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "payments.parquet",
						"folderPath": "tables",
						"container": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "UTF8"
					},
					{
						"name": "Prop_1",
						"type": "UTF8"
					},
					{
						"name": "Prop_2",
						"type": "UTF8"
					},
					{
						"name": "Prop_3",
						"type": "UTF8"
					},
					{
						"name": "Prop_4",
						"type": "UTF8"
					},
					{
						"name": "Prop_5",
						"type": "UTF8"
					},
					{
						"name": "Prop_6",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_riders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "riders.parquet",
						"folderPath": "tables",
						"container": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "UTF8"
					},
					{
						"name": "Prop_1",
						"type": "UTF8"
					},
					{
						"name": "Prop_2",
						"type": "UTF8"
					},
					{
						"name": "Prop_3",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_stations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "stations.parquet",
						"folderPath": "tables",
						"container": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "UTF8"
					},
					{
						"name": "Prop_1",
						"type": "UTF8"
					},
					{
						"name": "Prop_2",
						"type": "UTF8"
					},
					{
						"name": "Prop_3",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_trips')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "trips.parquet",
						"folderPath": "tables",
						"container": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "UTF8"
					},
					{
						"name": "Prop_1",
						"type": "UTF8"
					},
					{
						"name": "Prop_2",
						"type": "UTF8"
					},
					{
						"name": "Prop_3",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_payment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "dim_payment",
						"container": "gold"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_rideable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "dim_rideable",
						"container": "gold"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "payment_id",
						"type": "INT32"
					},
					{
						"name": "date",
						"type": "DATE"
					},
					{
						"name": "amount",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 0
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_rider')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "dim_rider",
						"container": "gold"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "payment_id",
						"type": "INT32"
					},
					{
						"name": "date",
						"type": "DATE"
					},
					{
						"name": "amount",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 0
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_stations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "dim_station",
						"container": "gold"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_trip_date')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "dim_trip_date",
						"container": "gold"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "payment_id",
						"type": "INT32"
					},
					{
						"name": "date",
						"type": "DATE"
					},
					{
						"name": "amount",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 0
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fact_transaction')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "fact_transaction",
						"container": "gold"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "payment_id",
						"type": "INT32"
					},
					{
						"name": "date",
						"type": "DATE"
					},
					{
						"name": "amount",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 0
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/fact_trip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "fact_trip",
						"container": "gold"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "payment_id",
						"type": "INT32"
					},
					{
						"name": "date",
						"type": "DATE"
					},
					{
						"name": "amount",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 0
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/payments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "payments.csv",
						"folderPath": "csvs",
						"container": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/riders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "riders.csv",
						"folderPath": "csvs",
						"container": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_payments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "payments",
						"container": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_riders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "riders",
						"container": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_stations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "stations",
						"container": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_trips')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "trips",
						"container": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/stations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "stations.csv",
						"folderPath": "csvs",
						"container": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trips')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adenAzureBlobStorage1",
					"type": "LinkedServiceReference",
					"parameters": {
						"fileName": "data.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "trips.csv",
						"folderPath": "csvs",
						"container": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adenAzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdenStarSchemaDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AdenStarSchemaDB_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adenAzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "data.csv"
					}
				},
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('adenAzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adenGitHub1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "GitHub",
				"typeProperties": {
					"username": "[parameters('adenGitHub1_properties_typeProperties_username')]",
					"credential": {
						"type": "SecureString",
						"value": "[parameters('adenGitHub1_credential')]"
					},
					"encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDRCRTBGRUIwLTQ2NDMtNEY4Ni05RkEwLUJCNDZCOEFDMkQyQl9kZWJhYmY3ZS01ZTE1LTQ4ZGQtYmYyOS05NzFhZTVlYzdjMWYiDQp9"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RevenueBasedOnMembershipAndAge')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dim_payment",
								"type": "DatasetReference"
							},
							"name": "dimPayment"
						},
						{
							"dataset": {
								"referenceName": "fact_transaction",
								"type": "DatasetReference"
							},
							"name": "factTransaction"
						},
						{
							"dataset": {
								"referenceName": "dim_rider",
								"type": "DatasetReference"
							},
							"name": "dimRider"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "RevenueBasedOnMembershipAndAge",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "join2"
						},
						{
							"name": "filter1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          payment_id as integer,",
						"          date as date,",
						"          amount as decimal(10,0)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimPayment",
						"source(output(",
						"          payment_id as integer,",
						"          rider_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> factTransaction",
						"source(output(",
						"          rider_id as integer,",
						"          first_name as string,",
						"          last_name as string,",
						"          address as string,",
						"          birthday as date,",
						"          account_start_date as date,",
						"          account_end_date as date,",
						"          is_member as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimRider",
						"factTransaction, dimPayment join(factTransaction@payment_id == dimPayment@payment_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1, dimRider join(factTransaction@rider_id == dimRider@rider_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2 filter(is_member == true()) ~> filter1",
						"filter1 derive(age_at_joining = floor(minus(account_start_date, birthday)/365.25)) ~> derivedColumn1",
						"derivedColumn1 aggregate(groupBy(age_at_joining),",
						"     {sum(amount)} = sum(amount)) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dim_payment')]",
				"[concat(variables('factoryId'), '/datasets/fact_transaction')]",
				"[concat(variables('factoryId'), '/datasets/dim_rider')]",
				"[concat(variables('factoryId'), '/datasets/RevenueBasedOnMembershipAndAge')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RevenuePerMonth')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dim_payment",
								"type": "DatasetReference"
							},
							"name": "dimPayment"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "RevenuePerMonth",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "aggregate1"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          payment_id as integer,",
						"          date as date,",
						"          amount as decimal(10,0)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimPayment",
						"derivedColumn1 aggregate(groupBy(month),",
						"     {sum(amount)} = sum(amount)) ~> aggregate1",
						"dimPayment derive(month = month(date)) ~> derivedColumn1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dim_payment')]",
				"[concat(variables('factoryId'), '/datasets/RevenuePerMonth')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RevenuePerQuarter')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dim_payment",
								"type": "DatasetReference"
							},
							"name": "dimPayment"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "RevenuePerQuarter",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"description": "Export data to RevenuePerQuarter"
						}
					],
					"transformations": [
						{
							"name": "aggregate1"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          payment_id as integer,",
						"          date as date,",
						"          amount as decimal(10,0)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimPayment",
						"derivedColumn1 aggregate(groupBy(quarter),",
						"     {sum(amount)} = sum(amount)) ~> aggregate1",
						"dimPayment derive(quarter = ceil(month(date)/3)) ~> derivedColumn1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dim_payment')]",
				"[concat(variables('factoryId'), '/datasets/RevenuePerQuarter')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RevenuePerYear')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dim_payment",
								"type": "DatasetReference"
							},
							"name": "dimPayment"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "RevenuePerYear",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"description": "Export data to RevenuePerYear"
						}
					],
					"transformations": [
						{
							"name": "aggregate1"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          payment_id as integer,",
						"          date as date,",
						"          amount as decimal(10,0)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimPayment",
						"derivedColumn1 aggregate(groupBy(year),",
						"     {sum(amount)} = sum(amount)) ~> aggregate1",
						"dimPayment derive(year = year(date)) ~> derivedColumn1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dim_payment')]",
				"[concat(variables('factoryId'), '/datasets/RevenuePerYear')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentPerRideBasedOnArrivalStation')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dim_stations",
								"type": "DatasetReference"
							},
							"name": "dimStation"
						},
						{
							"dataset": {
								"referenceName": "fact_trip",
								"type": "DatasetReference"
							},
							"name": "factTrip"
						},
						{
							"dataset": {
								"referenceName": "dim_trip_date",
								"type": "DatasetReference"
							},
							"name": "dimTripDate"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TimeSpentPerRideBasedOnArrivalStation",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "join2"
						},
						{
							"name": "join3"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          station_id as string,",
						"          name as string,",
						"          latitude as float,",
						"          longitude as float",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimStation",
						"source(output(",
						"          rideable_type_id as long,",
						"          trip_id as string,",
						"          start_station_id as string,",
						"          end_station_id as string,",
						"          rider_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> factTrip",
						"source(output(",
						"          trip_id as string,",
						"          started_at as timestamp,",
						"          ended_at as timestamp,",
						"          duration_secs as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimTripDate",
						"factTrip, dimTripDate join(factTrip@trip_id == dimTripDate@trip_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2, dimStation join(end_station_id == station_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join3",
						"join3 aggregate(groupBy(station_id),",
						"     {sum(duration_secs)} = sum(duration_secs)) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dim_stations')]",
				"[concat(variables('factoryId'), '/datasets/fact_trip')]",
				"[concat(variables('factoryId'), '/datasets/dim_trip_date')]",
				"[concat(variables('factoryId'), '/datasets/TimeSpentPerRideBasedOnArrivalStation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentPerRideBasedOnDayOfWeek')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dim_trip_date",
								"type": "DatasetReference"
							},
							"name": "dimTripDate"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TimeSpentPerRideBasedOnDayOfWeek",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "groupByDate"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          trip_id as string,",
						"          started_at as timestamp,",
						"          ended_at as timestamp,",
						"          duration_secs as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimTripDate",
						"derivedColumn1 aggregate(groupBy(DayOfWeek),",
						"     amount = sum(duration_secs)) ~> groupByDate",
						"dimTripDate derive(DayOfWeek = case(\r",
						"    dayOfWeek(toDate(started_at)) == 1, 'Sunday', \r",
						"    dayOfWeek(toDate(started_at)) == 2, 'Monday',\r",
						"    dayOfWeek(toDate(started_at)) == 3, 'Tuesday', \r",
						"    dayOfWeek(toDate(started_at)) == 4, 'Wednesday', \r",
						"    dayOfWeek(toDate(started_at)) == 5, 'Thursday', \r",
						"    dayOfWeek(toDate(started_at)) == 6, 'Friday', \r",
						"    dayOfWeek(toDate(started_at)) == 7, 'Saturday', \r",
						"    ''\r",
						")) ~> derivedColumn1",
						"groupByDate sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dim_trip_date')]",
				"[concat(variables('factoryId'), '/datasets/TimeSpentPerRideBasedOnDayOfWeek')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentPerRideBasedOnDepartureStation')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dim_stations",
								"type": "DatasetReference"
							},
							"name": "dimStation"
						},
						{
							"dataset": {
								"referenceName": "fact_trip",
								"type": "DatasetReference"
							},
							"name": "factTrip"
						},
						{
							"dataset": {
								"referenceName": "dim_trip_date",
								"type": "DatasetReference"
							},
							"name": "dimTripDate"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TimeSpentRidingBasedOnDepartureStation",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "join2"
						},
						{
							"name": "join3"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          station_id as string,",
						"          name as string,",
						"          latitude as float,",
						"          longitude as float",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimStation",
						"source(output(",
						"          rideable_type_id as long,",
						"          trip_id as string,",
						"          start_station_id as string,",
						"          end_station_id as string,",
						"          rider_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> factTrip",
						"source(output(",
						"          trip_id as string,",
						"          started_at as timestamp,",
						"          ended_at as timestamp,",
						"          duration_secs as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimTripDate",
						"factTrip, dimTripDate join(factTrip@trip_id == dimTripDate@trip_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2, dimStation join(start_station_id == station_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join3",
						"join3 aggregate(groupBy(station_id),",
						"     {sum(duration_secs)} = sum(duration_secs)) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dim_stations')]",
				"[concat(variables('factoryId'), '/datasets/fact_trip')]",
				"[concat(variables('factoryId'), '/datasets/dim_trip_date')]",
				"[concat(variables('factoryId'), '/datasets/TimeSpentRidingBasedOnDepartureStation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentPerRideBasedOnHour')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dim_trip_date",
								"type": "DatasetReference"
							},
							"name": "dimTripDate"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TimeSpentPerRideBasedOnHour",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "groupByDate"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          trip_id as string,",
						"          started_at as timestamp,",
						"          ended_at as timestamp,",
						"          duration_secs as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimTripDate",
						"derivedColumn1 aggregate(groupBy(hour),",
						"     amount = sum(duration_secs)) ~> groupByDate",
						"dimTripDate derive(hour = hour(started_at)) ~> derivedColumn1",
						"groupByDate sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dim_trip_date')]",
				"[concat(variables('factoryId'), '/datasets/TimeSpentPerRideBasedOnHour')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentPerRideBasedOnJourney')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dim_stations",
								"type": "DatasetReference"
							},
							"name": "dimStation"
						},
						{
							"dataset": {
								"referenceName": "fact_trip",
								"type": "DatasetReference"
							},
							"name": "factTrip"
						},
						{
							"dataset": {
								"referenceName": "dim_trip_date",
								"type": "DatasetReference"
							},
							"name": "dimTripDate"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TimeSpentPerRideBasedOnJourney",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "join2"
						},
						{
							"name": "join3"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          station_id as string,",
						"          name as string,",
						"          latitude as float,",
						"          longitude as float",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimStation",
						"source(output(",
						"          rideable_type_id as long,",
						"          trip_id as string,",
						"          start_station_id as string,",
						"          end_station_id as string,",
						"          rider_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> factTrip",
						"source(output(",
						"          trip_id as string,",
						"          started_at as timestamp,",
						"          ended_at as timestamp,",
						"          duration_secs as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimTripDate",
						"factTrip, dimTripDate join(factTrip@trip_id == dimTripDate@trip_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2, dimStation join(end_station_id == station_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join3",
						"join3 aggregate(groupBy(start_station_id,",
						"          end_station_id),",
						"     {sum(duration_secs)} = sum(duration_secs)) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dim_stations')]",
				"[concat(variables('factoryId'), '/datasets/fact_trip')]",
				"[concat(variables('factoryId'), '/datasets/dim_trip_date')]",
				"[concat(variables('factoryId'), '/datasets/TimeSpentPerRideBasedOnJourney')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentRidingBasedOnAgeOfRider')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dim_trip_date",
								"type": "DatasetReference"
							},
							"name": "dimTripDate"
						},
						{
							"dataset": {
								"referenceName": "fact_trip",
								"type": "DatasetReference"
							},
							"name": "factTrip"
						},
						{
							"dataset": {
								"referenceName": "dim_rider",
								"type": "DatasetReference"
							},
							"name": "dimRider"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TimeSpentRidingBasedOnAgeOfRider",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "join2"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          trip_id as string,",
						"          started_at as timestamp,",
						"          ended_at as timestamp,",
						"          duration_secs as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimTripDate",
						"source(output(",
						"          rideable_type_id as long,",
						"          trip_id as string,",
						"          start_station_id as string,",
						"          end_station_id as string,",
						"          rider_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> factTrip",
						"source(output(",
						"          rider_id as integer,",
						"          first_name as string,",
						"          last_name as string,",
						"          address as string,",
						"          birthday as date,",
						"          account_start_date as date,",
						"          account_end_date as date,",
						"          is_member as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimRider",
						"factTrip, dimTripDate join(factTrip@trip_id == dimTripDate@trip_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1, dimRider join(factTrip@rider_id == dimRider@rider_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"derivedColumn1 aggregate(groupBy(age),",
						"     {sum(duration_secs)} = sum(duration_secs)) ~> aggregate1",
						"join2 derive(age = floor(minus(currentDate(), birthday)/365.25)) ~> derivedColumn1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dim_trip_date')]",
				"[concat(variables('factoryId'), '/datasets/fact_trip')]",
				"[concat(variables('factoryId'), '/datasets/dim_rider')]",
				"[concat(variables('factoryId'), '/datasets/TimeSpentRidingBasedOnAgeOfRider')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TimeSpentRidingBasedOnMemberStatus')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dim_trip_date",
								"type": "DatasetReference"
							},
							"name": "dimTripDate"
						},
						{
							"dataset": {
								"referenceName": "fact_trip",
								"type": "DatasetReference"
							},
							"name": "factTrip"
						},
						{
							"dataset": {
								"referenceName": "dim_rider",
								"type": "DatasetReference"
							},
							"name": "dimRider"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TimeSpentRidingBasedOnMemberStatus",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "join2"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          trip_id as string,",
						"          started_at as timestamp,",
						"          ended_at as timestamp,",
						"          duration_secs as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimTripDate",
						"source(output(",
						"          rideable_type_id as long,",
						"          trip_id as string,",
						"          start_station_id as string,",
						"          end_station_id as string,",
						"          rider_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> factTrip",
						"source(output(",
						"          rider_id as integer,",
						"          first_name as string,",
						"          last_name as string,",
						"          address as string,",
						"          birthday as date,",
						"          account_start_date as date,",
						"          account_end_date as date,",
						"          is_member as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> dimRider",
						"factTrip, dimTripDate join(factTrip@trip_id == dimTripDate@trip_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1, dimRider join(factTrip@rider_id == dimRider@rider_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"derivedColumn1 aggregate(groupBy(is_member),",
						"     {sum(duration_secs)} = sum(duration_secs)) ~> aggregate1",
						"join2 derive(age = floor(minus(currentDate(), birthday)/365.25)) ~> derivedColumn1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dim_trip_date')]",
				"[concat(variables('factoryId'), '/datasets/fact_trip')]",
				"[concat(variables('factoryId'), '/datasets/dim_rider')]",
				"[concat(variables('factoryId'), '/datasets/TimeSpentRidingBasedOnMemberStatus')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/golden_transformation')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_stations",
								"type": "DatasetReference"
							},
							"name": "stations"
						},
						{
							"dataset": {
								"referenceName": "silver_payments",
								"type": "DatasetReference"
							},
							"name": "payments"
						},
						{
							"dataset": {
								"referenceName": "silver_riders",
								"type": "DatasetReference"
							},
							"name": "riders"
						},
						{
							"dataset": {
								"referenceName": "silver_trips",
								"type": "DatasetReference"
							},
							"name": "trips"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_payment",
								"type": "DatasetReference"
							},
							"name": "paymentsDimension"
						},
						{
							"dataset": {
								"referenceName": "dim_stations",
								"type": "DatasetReference"
							},
							"name": "stationsDimension"
						},
						{
							"dataset": {
								"referenceName": "dim_rider",
								"type": "DatasetReference"
							},
							"name": "ridersDimension"
						},
						{
							"dataset": {
								"referenceName": "dim_rideable",
								"type": "DatasetReference"
							},
							"name": "rideableDimension"
						},
						{
							"dataset": {
								"referenceName": "dim_trip_date",
								"type": "DatasetReference"
							},
							"name": "tripDateDimension"
						},
						{
							"dataset": {
								"referenceName": "fact_trip",
								"type": "DatasetReference"
							},
							"name": "factTrip"
						},
						{
							"dataset": {
								"referenceName": "fact_transaction",
								"type": "DatasetReference"
							},
							"name": "transactionFact"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "droppingRiderID"
						},
						{
							"name": "select2"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "surrogateKey1"
						},
						{
							"name": "select3"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "join1"
						},
						{
							"name": "keepIDCols"
						},
						{
							"name": "selectIDcols"
						}
					],
					"scriptLines": [
						"source(output(",
						"          station_id as string,",
						"          name as string,",
						"          latitude as float,",
						"          longitude as float",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> stations",
						"source(output(",
						"          payment_id as integer,",
						"          date as date,",
						"          amount as decimal(10,0),",
						"          rider_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> payments",
						"source(output(",
						"          rider_id as integer,",
						"          first_name as string,",
						"          last_name as string,",
						"          address as string,",
						"          birthday as date,",
						"          account_start_date as date,",
						"          account_end_date as date,",
						"          is_member as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> riders",
						"source(output(",
						"          trip_id as string,",
						"          rideable_type as string,",
						"          started_at as timestamp,",
						"          ended_at as timestamp,",
						"          start_station_id as string,",
						"          end_station_id as string,",
						"          rider_id as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> trips",
						"stations select(mapColumn(",
						"          station_id,",
						"          name,",
						"          latitude,",
						"          longitude",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"payments select(mapColumn(",
						"          payment_id,",
						"          date,",
						"          amount",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> droppingRiderID",
						"trips select(mapColumn(",
						"          rideable_type",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"select2 aggregate(groupBy(rideable_type),",
						"     rideable_type_id = countDistinct(rideable_type)) ~> aggregate1",
						"aggregate1 keyGenerate(output(rideable_type_id as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> surrogateKey1",
						"trips select(mapColumn(",
						"          trip_id,",
						"          started_at,",
						"          ended_at",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select3",
						"select3 derive(duration_secs = minus(ended_at, started_at) / 1000) ~> derivedColumn1",
						"surrogateKey1, trips join(aggregate1@rideable_type == trips@rideable_type,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 select(mapColumn(",
						"          rideable_type_id,",
						"          trip_id,",
						"          start_station_id,",
						"          end_station_id,",
						"          rider_id",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> keepIDCols",
						"payments select(mapColumn(",
						"          payment_id,",
						"          rider_id",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectIDcols",
						"droppingRiderID sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> paymentsDimension",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> stationsDimension",
						"riders sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          payment_id as integer,",
						"          date as date,",
						"          amount as decimal(10,0)",
						"     ),",
						"     format: 'parquet',",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ridersDimension",
						"surrogateKey1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          payment_id as integer,",
						"          date as date,",
						"          amount as decimal(10,0)",
						"     ),",
						"     format: 'parquet',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> rideableDimension",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          payment_id as integer,",
						"          date as date,",
						"          amount as decimal(10,0)",
						"     ),",
						"     format: 'parquet',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> tripDateDimension",
						"keepIDCols sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          payment_id as integer,",
						"          date as date,",
						"          amount as decimal(10,0)",
						"     ),",
						"     format: 'parquet',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> factTrip",
						"selectIDcols sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          payment_id as integer,",
						"          date as date,",
						"          amount as decimal(10,0)",
						"     ),",
						"     format: 'parquet',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> transactionFact"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/silver_stations')]",
				"[concat(variables('factoryId'), '/datasets/silver_payments')]",
				"[concat(variables('factoryId'), '/datasets/silver_riders')]",
				"[concat(variables('factoryId'), '/datasets/silver_trips')]",
				"[concat(variables('factoryId'), '/datasets/dim_payment')]",
				"[concat(variables('factoryId'), '/datasets/dim_stations')]",
				"[concat(variables('factoryId'), '/datasets/dim_rider')]",
				"[concat(variables('factoryId'), '/datasets/dim_rideable')]",
				"[concat(variables('factoryId'), '/datasets/dim_trip_date')]",
				"[concat(variables('factoryId'), '/datasets/fact_trip')]",
				"[concat(variables('factoryId'), '/datasets/fact_transaction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_transformation')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Cast all columns from bronze tables to silver tables",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bronze_stations",
								"type": "DatasetReference"
							},
							"name": "stations"
						},
						{
							"dataset": {
								"referenceName": "bronze_payments",
								"type": "DatasetReference"
							},
							"name": "payments"
						},
						{
							"dataset": {
								"referenceName": "bronze_riders",
								"type": "DatasetReference"
							},
							"name": "riders"
						},
						{
							"dataset": {
								"referenceName": "bronze_trips",
								"type": "DatasetReference"
							},
							"name": "trips"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_stations",
								"type": "DatasetReference"
							},
							"name": "sinkStations"
						},
						{
							"dataset": {
								"referenceName": "silver_payments",
								"type": "DatasetReference"
							},
							"name": "sinkPayments"
						},
						{
							"dataset": {
								"referenceName": "silver_riders",
								"type": "DatasetReference"
							},
							"name": "sinkRiders"
						},
						{
							"dataset": {
								"referenceName": "silver_trips",
								"type": "DatasetReference"
							},
							"name": "sinkTrips"
						}
					],
					"transformations": [
						{
							"name": "castStations"
						},
						{
							"name": "castPayments"
						},
						{
							"name": "castRiders"
						},
						{
							"name": "castTrips"
						},
						{
							"name": "select1"
						},
						{
							"name": "select2"
						},
						{
							"name": "select3"
						},
						{
							"name": "select4"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {1} as string,",
						"          {2} as string,",
						"          {3} as string,",
						"          {4} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> stations",
						"source(output(",
						"          {1} as string,",
						"          {2} as string,",
						"          {3} as string,",
						"          {4} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> payments",
						"source(output(",
						"          {1} as string,",
						"          {2} as string,",
						"          {3} as string,",
						"          {4} as string,",
						"          {5} as string,",
						"          {6} as string,",
						"          {7} as string,",
						"          {8} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> riders",
						"source(output(",
						"          {1} as string,",
						"          {2} as string,",
						"          {3} as string,",
						"          {4} as string,",
						"          {5} as string,",
						"          {6} as string,",
						"          {7} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> trips",
						"stations cast(output(",
						"          {1} as string,",
						"          {2} as string,",
						"          {3} as float,",
						"          {4} as float",
						"     ),",
						"     errors: true) ~> castStations",
						"payments cast(output(",
						"          {1} as integer,",
						"          {2} as date 'yyyy-MM-dd',",
						"          {3} as decimal(10,0),",
						"          {4} as integer",
						"     ),",
						"     errors: true) ~> castPayments",
						"riders cast(output(",
						"          {1} as integer,",
						"          {2} as string,",
						"          {3} as string,",
						"          {4} as string,",
						"          {5} as date 'yyyy-MM-dd',",
						"          {6} as date 'yyyy-MM-dd',",
						"          {7} as date 'yyyy-MM-dd',",
						"          {8} as boolean",
						"     ),",
						"     errors: true) ~> castRiders",
						"trips cast(output(",
						"          {1} as string,",
						"          {2} as string,",
						"          {3} as timestamp 'dd/MM/yyyy HH:mm',",
						"          {4} as timestamp 'dd/MM/yyyy HH:mm',",
						"          {5} as string,",
						"          {6} as string,",
						"          {7} as integer",
						"     ),",
						"     errors: true) ~> castTrips",
						"castStations select(mapColumn(",
						"          station_id = {1},",
						"          name = {2},",
						"          latitude = {3},",
						"          longitude = {4}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"castPayments select(mapColumn(",
						"          payment_id = {1},",
						"          date = {2},",
						"          amount = {3},",
						"          rider_id = {4}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"castRiders select(mapColumn(",
						"          rider_id = {1},",
						"          first_name = {2},",
						"          last_name = {3},",
						"          address = {4},",
						"          birthday = {5},",
						"          account_start_date = {6},",
						"          account_end_date = {7},",
						"          is_member = {8}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select3",
						"castTrips select(mapColumn(",
						"          trip_id = {1},",
						"          rideable_type = {2},",
						"          started_at = {3},",
						"          ended_at = {4},",
						"          start_station_id = {5},",
						"          end_station_id = {6},",
						"          rider_id = {7}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select4",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkStations",
						"select2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkPayments",
						"select3 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkRiders",
						"select4 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkTrips"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bronze_stations')]",
				"[concat(variables('factoryId'), '/datasets/bronze_payments')]",
				"[concat(variables('factoryId'), '/datasets/bronze_riders')]",
				"[concat(variables('factoryId'), '/datasets/bronze_trips')]",
				"[concat(variables('factoryId'), '/datasets/silver_stations')]",
				"[concat(variables('factoryId'), '/datasets/silver_payments')]",
				"[concat(variables('factoryId'), '/datasets/silver_riders')]",
				"[concat(variables('factoryId'), '/datasets/silver_trips')]"
			]
		}
	]
}